.page {
  height: 100%;
  font-family: $primary-font;
  font-size: 18px;
  line-height: 27px;
  color: $lightgrey;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: $lightgrey;
  color: #000000;
}
