// ссылка входа
.user-list__login {
  position: relative;
  display: block;
  padding: 13px 21px;
  padding-left: 49px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

// иконка входа
.user-list__login-icon {
  position: absolute;
  top: 17px;
  left: 21px;
  width: 16px;
  height: 16px;
  opacity: 0.3;
  fill: #ffffff;
}

.user-list {
  @media (min-width: $tablet-width) {
    width: 60px;

    &__login-icon {
      padding-top: 12px;
    }

    &:hover .user-list__login-icon {
      opacity: 1;
    }

    &:active .user-list__login-icon {
      opacity: 0.3;
    }

    &__login span {
      display: none;
    }

    @media (min-width: $desktop-width) {
      span {
        display: block;
        padding-top: 12px;
      }
    }
  }
}
